html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

html {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.ember-list-view {
  overflow: auto;
  position: relative;
  width: 100%;
}
.ember-list-item-view {
  position: absolute;
}

.mobile-list .ember-list-view {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.mobile-images-list .ember-list-view {
  background: white;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mobile-large-images-list .photo-grid-list-item {
  width: 154px;
  height: 154px;
  float: left;
}

.mobile-large-images-list .medium-frame {
  background-color: white;
  padding: 4px;
  height: 133px;
  width: 133px;
  margin: 6px 7px 7px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}

.mobile-small-images-list .photo-grid-list-item {
  width: 154px;
  height: 154px;
  float: left;
}

.mobile-small-images-list .medium-frame {
  background-color: white;
  padding: 4px;
  height: 133px;
  width: 133px;
  margin: 6px 7px 7px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}
