body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: 200;
}

.ember-list-view {
  overflow: auto;
  position: relative;
  width: 100%;
}

.ember-list-item-view {
  position: absolute;
  font-size: 17px;
  font-weight: 200;
}

.examples-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.examples-list li {
  float: left;
  margin: 0 50px 0 20px;
}
