<h2 id="title">Ember List View Demos</h2>
<ul>
    <li>{{#link-to 'basic-list'}}Basic{{/link-to}}</li>
    <li>{{#link-to 'mobile-list'}}Mobile{{/link-to}}</li>
    <li>{{#link-to 'mobile-large-images-list'}}Mobile Large Images{{/link-to}}</li>
    <li>{{#link-to 'mobile-small-images-list'}}Mobile Small Images{{/link-to}}</li>
    <li>{{#link-to 'multi-height-list'}}Multi Height{{/link-to}}</li>
    <li>{{#link-to 'multi-height-multi-view-list'}}Multi Height - Multi View{{/link-to}}</li>
    <li>{{#link-to 'multi-height-virtual-list'}}Multi Height - Virtual{{/link-to}}</li>
    <li>{{#link-to 'pull-to-refresh-list'}}Pull to refresh{{/link-to}}</li>
</ul>
{{outlet}}
