<h2 id="title">Ember List View Demos</h2>
<ul>
    <li>{{#link-to 'simple'}}Simple{{/link-to}}</li>
    <li>{{#link-to 'mobile'}}Mobile{{/link-to}}</li>
    <li>{{#link-to 'mobile-large-images'}}Mobile Large Images{{/link-to}}</li>
    <li>{{#link-to 'mobile-small-images'}}Mobile Small Images{{/link-to}}</li>
    <li>{{#link-to 'multi-height'}}Multi Height{{/link-to}}</li>
    <li>{{#link-to 'multi-height-multi-view'}}Multi Height - Multi View{{/link-to}}</li>
    <li>{{#link-to 'multi-height-virtual'}}Multi Height - Virtual{{/link-to}}</li>
    <li>{{#link-to 'pull-to-refresh'}}Pull to refresh{{/link-to}}</li>
    <li>{{#link-to 'virtual'}}Virtual{{/link-to}}</li>
    <li>{{#link-to 'virtual-strange-ratios'}}Virtual Strange Ratios{{/link-to}}</li>
</ul>
{{outlet}}
