<h3>Pull to refresh</h3>

<div class="pull-to-refresh-list">
  {{#collection 'refreshable-list' content=model height=500 width=500 elementWidth=100 rowHeight=100}}
    {{#if imageSrc}}
        <img {{bind-attr src=imageSrc}}/>
    {{/if}}
    <div class="text">{{name}}</div>
  {{/collection}}
</div>
