/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

html {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.basic-list .ember-list-view {
  overflow: auto;
  position: relative;
  width: 100%;
}

.basic-list .ember-list-item-view {
  position: absolute;
}
